:root {
  --main-bg-color: #ffffff;
  --heading-bg-color: #ffffff;
  --notice-bg-color: #ffcccc;
  --highlight-bg-color: #ffffcc;
  --highlight-hover-color: #ffeecc;
  --warn-bg-color: #ff0000;
  --content-bg-color: #ffffff;
  --table-bg-color: #cccccc;
  --content-border-color: #201f5b;
  --table-border-color: #e7e7e7;
  --form-border-color: black;
  --button-bg-color: #e7e7e7;
  --th-bg-color: #e7e7e7;
  --th-hover-bg-color: #f3f3f3;
  --form-bg-color: #ffffff;
  --form-hover-bg-color: #eeeeee;
  --menu-bg-color: #000000;
  --menu-text-color: #ffffff;
  --menu-border-color: #888;
  --menu-hover-bg-color: #444444;
  --menu-hover-text-color: #ff4040;
  --block-radius: 15px;
  --block-v-padding: 0px;
  --block-h-padding: 0px;
  --block-v-margin: 20px;
  --heading-pre-space: 8px;
  --content-h-margin: 10px;
}


body{
font-family: "Open Sans", sans-serif;	
}
pre.loose{
	font-family: "Open Sans", sans-serif;
}
body header , body footer{
	background-color: white;
}

body > div.block , body div.bar{
	border: solid var(--content-border-color);
}
body{
	box-sizing: border-box;
}

body > div.block {
	padding: 0;
}

body > div.block > h1:first-child, body > div.block h2:first-child {
	color: white;
	background-color: var(--content-border-color);
	padding 0;
	margin 0;
	text-align: center;
	
}
/* we use three levels of header as standard 
 * h1 or h2 is the top level header in a block
 * h3 is a secondary header or a header in a div.bar
 * h4 is a smaller header for subdivisions.
*/

h1, h2, h3, h4, h5, h6 {
	font-size: 110%;
	color: black;
    text-align: left;
    line-height: normal;
    
    
}

h1, h2{
	 background-color: var(--heading-bg-color);
	 border-radius: var(--block-radius);
	/* text-decoration: underline; */
}

/** add preceding margin to headings
 */
h3, h4, h5, h6 {
	margin: 4px 0px 0px 0px;
}
/* No preceding margin if first child heading is first element
 */
h1 + h2 , h2 + h3, h3 + h4 , h4 + h5, h5 + h6{
	margin: 0;
}

 /*
  * secondary headers as log items
  */
div.item h3{
background-color: #ffffcc;
}

div.item  h4{
background-color: #ffeebb;
}

div.item  h5{
background-color: #eeeeee;
}

div.item h6{
background-color: #ffffff;
}
/* Form styles
 */

/** div.block form.transition, div.wideblock form.transition {
	 border-radius: 15px;
     padding: 5px;
     border: solid black;
}
*/
form.transition table.form {
	 border-radius: var(--block-radius) var(--block-radius) 0 0;
	 background-color: var(--form-bg-color);
	 padding: 10px;
    margin: 0 0 5px 0 ;
}

form.transition .action_buttons{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
	 border-radius: 0 0 var(--block-radius) var(--block-radius);
	 background-color: var(--form-bg-color);
	 padding: 10px;
}

div.action_buttons {
	border-radius: var(--block-radius);
	 background-color: var(--form-bg-color);
	  padding: 10px;
	  border-color: var(--form-border-color);
	  border-style: solid;
	  margin: 5px var(--content-h-margin);
}