:root {
  --main-bg-color: #ffffff;
  --heading-bg-color: #ffffff;
  --bar-bg-color: #201f5b;
  --bar-text-color: #ffffff;
  --notice-bg-color: #ffcccc;
  --highlight-bg-color: #ffffcc;
  --highlight-hover-color: #ffeecc;
  --warn-bg-color: #ff0000;
  --content-bg-color: #d9d9f2;
  --table-bg-color: #302f89;
  --content-border-color: #201f5b;
  --table-border-color: #201f5b;
  --form-border-color: black;
  --button-bg-color: #c8e9e1;
  --th-bg-color: #c8e9e1;
  --th-hover-bg-color: #f3f3f3;
  --form-bg-color: var(--content-bg-color);
  --form-content-bg-color: #ffffff;
  --paragraph-bg-color: #ffffff;
  --list-bg-color: var(--content-bg-color);
  --form-hover-bg-color: #eeeeee;
  --menu-bg-color: #201f5b;
  --menu-text-color: #ffffff;
  --menu-border-color: #4e4cc2;
  --menu-hover-bg-color: #302f89;
  --menu-hover-text-color: #ff4040;
  --block-radius: 15px;
  --block-v-padding: 0px;
  --block-h-padding: 0px;
  --block-v-margin: 20px;
  --heading-pre-space: 8px;
  --content-h-margin: 2%;
  --content-width: 96%;
}


body{
font-family: "Open Sans", sans-serif;	
}
pre.loose{
	font-family: "Open Sans", sans-serif;
}
body header , body footer{
	background-color: white;
}

body > div.block , body div.bar{
	border: solid var(--content-border-color);
}


body > div.bar >h1, body > div.bar >h2, body > div.bar >h3{
	margin-left: 10px;
}

body > div.block {
	padding: 0;
}

body > div.block > h1:first-child, body > div.block > h2:first-child {
	color: white;
	background-color: var(--content-border-color);
	border-radius: var(--block-radius);
	padding: 0;
	margin: 0;
	text-align: center;
	
}
/* we use three levels of header as standard 
 * h1 or h2 is the top level header in a block
 * h3 is a secondary header or a header in a div.bar
 * h4 is a smaller header for subdivisions.
*/

h1, h2, h3, h4, h5, h6 {
	font-size: 110%;
	color: black;
    text-align: left;
    line-height: normal;
    
    
}


/** add preceding margin to headings
 */
h3, h4, h5, h6 {
	margin: 4px 0px 0px 0px;
}
/* No preceding margin if first child heading is first element
 */
h1 + h2 , h2 + h3, h3 + h4 , h4 + h5, h5 + h6{
	margin: 0;
}

 /*
  * secondary headers as log items
  */
div.item h3{
background-color: #ffffcc;
}

div.item  h4{
background-color: #ffeebb;
}

div.item  h5{
background-color: #eeeeee;
}

div.item h6{
background-color: #ffffff;
}
/* Form styles
 */

/** div.block form.transition, div.wideblock form.transition {
	 border-radius: 15px;
     padding: 5px;
     border: solid black;
}
*/
form.transition table.form {
	 border-radius: var(--block-radius) var(--block-radius) 0 0;
	 background-color: var(--form-content-bg-color);
	 padding: 10px;
    margin-bottom: 5px;
}

form.transition .action_buttons{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
	 border-radius: 0 0 var(--block-radius) var(--block-radius);
	 background-color: var(--form-content-bg-color);
	 padding: 10px;
}

div.action_buttons {
	border-radius: var(--block-radius);
	 background-color: var(--form-content-bg-color);
	  padding: 10px;
	  border-color: var(--form-border-color);
	  border-style: solid;
	  margin-top: var(--content-h-margin);
}
.input_button{
	border-radius: 8px;
}