:root{
 --menu-bg-color: #000000;
 --menu-text-color: #ffffff;
 --menu-border-color: #888;
 --menu-hover-bg-color: #444444;
 --menu-hover-text-color: #ff4040;	
 --menu-bg-has-role: #060;
 --menu-bg-missing-role: #600;
 --notify-color: black;
 --notify-bg-color: #bf7a00;
 --notify-hover-color: #800000;
 --notify-hover-bg-color: #ffa300;
 --menu-height: 30px;
 --menu-height-inner: var(--menu-height);
 --menu-min-width: 170px;
 
}

body{
	margin: 0;
}
/* The nav div reserves space for the fixed navigation bar in the
 * default top position. This allows the top of the page content to
 * be seen.
 */
.nav {
  margin: 0;
  padding: 0;
  background: var(--menu-bg-color);
  color: var(--menu-text-color);
  position: relative;
  text-align: left;
  line-height: 11px;
}
/* Don't display accessability headings
 */
 
 .nav h1, .nav h2, .nav h3, .nav h4 , .nav h5{
 display: none;
 }
/* First level menu stacks left to right across the page. This also sets defaults for all levels
 */
.nav ul {
  list-style: none;
  background-color: var(--menu-bg-color);
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
/* font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
 */
 line-height: (--var-menu-height);
  font-size: 1.0em;
  text-align: left;
}

.nav li li {
	line-height: (--var-menu-height-inner);
}
/* content of a menu is a link or a div. Format them the same
 */
.nav a , .nav div{
  text-decoration: none;
  color: var(--menu-text-color);
  display: block;
  padding-left: 15px;
  padding-right: 5px;
  height: var(--menu-height);
  border-bottom: 1px solid var(--menu-border-color);
  transition: .3s background-color;
}
.nav li li a, .nav li li div{
	height: var(--menu-height-inner);
}

/*  links change colour on hover
 */
.nav li a:hover , .nav li a:focus{
 /* background-color: #005f5f;
  */
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-hover-text-color);
    cursor: pointer;
}

/* .nav div {
 *	background-color: #333;
 *}
 */

/*.nav .match a {
 * background-color: #444;
* }
*/

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}


/* Sub Menus use smaller font */
.nav li li {
 font-size: 1.0em; 
/*  line-height: auto; */
}

.nav a:link, .nav a:visited {
	color: inherit;
	background-color: inherit;
}
.nav li.has_role a {
	background-color: var(--menu-bg-has-role);
} 
.nav li.missing_role a {
	background-color: var(--menu-bg-missing-role);
} 

.nav li.notify >  a , span.notify {
	background-color: var(--notify-bg-color);
	color: var(--notify-color);
}
span.notify{
	display: inline-block;
	border: thin;
	border-color: black;
	padding: 5px;
}
nav li.notify >  a:after, span.notify::after {
	content: " \1F514";
}
.nav li.notify >  a:hover , .nav li.notify > a:focus{
	background-color: var(--notify-hover-bg-color);
	color: var(--notify-hover-color);
}
.nav li.external > a:after {
	content:   url("link.png");
  	margin-left: 15px;
  }
  
.nav li.parent > a:after{
	content: " \25B6";
}
/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
/* reserve parking space at top 
 */	
  .nav{
    min-height: var(--menu-height);
    width: 100%;
    display: block;
  }
/* first level menu fixed at top of page and covers entire width horizontally
 * must stack above other content like datatables mark-up
 */
  .nav ul {
    width: 100%;
    position: fixed;
    z-index: 10;
  }
   .nav ul ul {
     width: auto;
  }
  .nav li {
    min-width: var(--menu-min-width);
    border-bottom: none;
    height: var(--menu-height);
    line-height: var(--menu-height);
    font-size: 1.0em;
    display: inline-block;
    white-space: nowrap;
/* This is probably necessary for multi-level menus but it looks
 * odd at the top level and we force to 2 levels
 *
 *   margin-right: -4px; 
 */
  }
  
  .nav li li {
     height: var(--menu-height-inner);
    line-height: var(--menu-height-inner);
  }
 
  /* restore second level to being a list ;
   */
  .nav li li {
     display: list-item;
  }

/* content elements
 */
  .nav a, .nav div {
    border-bottom: none;
    height: var(--menu-height);
   
  }
  
  .nav li li a, .nav li li div {
  height: var(--menu-height-inner);
  }
  
/*  This seems to stop image links being pushed down
 */
 .nav a img{
    display: inline-block;
 	vertical-align: middle;
    height: 1em;
 }
 

/*  First level menu shows centered
 */
  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus 
  * invisible by default 
  */
   .nav li > ul {
    position: absolute;
    display: none;
    width: inherit;
    
  }
 
  
  .nav > ul > li > ul.scroll {
  /* non dynamic sub-menus add vertical scroll above a certain length
   * This does not work when there is a nested menu.
   */
    max-height: 500px;
    overflow-y: auto;
    overflow-x: visible;
  }
  /* dynamic sub-menu  */
  .nav ul li ul ul{
    position: absolute;
    z-index: 12;
    left: 100px;
    box-shadow: 2px 4px #888888;
  }
  .nav ul li ul  {
	
    box-shadow: 1px 1px #888888;
    
}
  /* sub-menu items need to auto-calculate height
   * so the sub-menu can do overflow properly
   */
  .nav ul li ul li{
    height: auto;
  }
  
  
  
  /* Show pull-down menu on hover or a JS setting
   * The scripts will add show-menu if they are in control
   */
  .nav li:hover > ul , .nav li:focus > ul, .nav li > ul.show-menu {
    display: block;
  }
  
 

  
}
/**************************
 * Supress navigation on print
 ******************************/
 @media print {
 .nav {
   display: none;
 }
 
 }
