/* all divs form a centered column */
div.block, div.bar, div.textbar,div.text, div.graph {
width: 95%;
}
div div.bar{
	width: 95%;
}
div.dataTables_wrapper, div.scrollwrapper {
	overflow: auto;
}
div.part , div.message, div.multipart, div.Query_public,  div.Query_private, div.Comment_private, div.Update_private{
	border-width: 1px;
	padding: 1px;
}

div.Query_public {
  border: solid blue;
}
div.Query_private, div.Comment_private, div.Update_private{
  border: solid red;
}

