body {
	color: black;
	font-size: medium;
	background-color: #ffffff;
	font-family: "MS Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: medium;
    text-decoration: none;
	margin: 0;
}

/** Allow a block heading to be the summary element 
 */
div.block details summary h2{
	display: inline;
	margin: 0;
}

/* all divs form a centered column */
div.block, div.bar, div.textbar,div.text, div.graph {
width: 95%;
}
div.bar{
height: 25px;
}
div.wideblock {
width: 95%;
}
div.report {
width: 95%;
}

/* common properties of all divs */
div.block, div.bar, div.textbar,div.text, div.graph, div.report, div.wideblock {
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
text-align: left;
color: black;
 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        white-space: normal;
	}

/** nested block have same width as parent
 * but keep top-bottom spacing
 */
div.block div.block {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
/* The basic centered Grey block
 * This can hold headers paragraphs and forms.
 */
div.block, div.wideblock{
background-color: #cccccc;
}

div.scrollwrapper {
	overflow: auto;
}
div div.overflowblock{
	overflow: scroll;
	margin-left:6em;
}
.login{
	font-weight: bold;
}
div.overflowblock table{
    display:block;
    white-space: nowrap;
}

div.overflowblock table{
}

div.overflowblock .bodycol{
	 margin-left: 6.5em;
}

div.overflowblock .headcolhead {
	position:absolute;
	margin-left: -6.5em;
	border: solid #e7e7e7; 
	background-color: #e7e7e7;
	width: 6em;
	top:auto;
	border-right: 0px none black;
	border-top: 0px none black;
	border-top-width:3px; /*only relevant for first row*/
	margin-top:-3px; /*compensate for top border*/
}
/** Acts as pre-formatted without changing the font
 */
p.preformatted{
	overflow: auto;
	white-space: pre;
	/* monospace font makes this exactly like pre but ... */
	/* font-family:  monospace; */
}

pre.loose{
	font-family: "MS Arial", "Helvetica", sans-serif;
	overflow: auto;
	white-space: pre;
}
div.overflowblock .headcol {
	position:absolute;
	margin-left: -6.5em;
	border: solid #e7e7e7; 
	background-color: #ffffff;
	width: 6em;
	top:auto;
	border-right: 0px none black;
	border-top: 0px none black;
	border-top-width:3px; /*only relevant for first row*/
	margin-top:-3px; /*compensate for top border*/
}

/* Simple single line bar contains a single h3 heading and 
 * a submit button only form. We swap the text direction to get the button on the right
 */
div.bar{
text-align: left;
/* background-color: #e7e7e7; */
}

div.bar, div.bar h1, div.bar h2, div.bar h3{
	background-color: #cccccc;
}
/* simple single bar containing only text */
div.textbar{
background-color: #e7e7e7;
}
/* Button like links so we can open new page using right mouse */
table.navbar tr td a {
    background-color: #e7e7e7;
    border-width: 1px;
    border: solid black;
    display: block;
    text-align:center;
}

/** Report formats */


/* large table based report */
div.report {
    text-align: left;
    background-color: white;
}
div.report h1, div.report h2{
text-align: center;
}
div.report  th {
background-color: #dddddd;
}
div.report td {
	background-color: #eeeeee;
}
div.report table {
	width: 100%;
	border: solid black;
}
/* block containing an image */
div.graph{
	width: 100%;
	text-align: center;
}
div.graph h1, div.graph h2{
	text-align: center;
}
/* supress normal formatting in reports
*/
div.report h1, div.report h2, div.report h3, div.report h4{
	color: black;
	background-color: #ffffff;
}

/* we use three levels of header as standard 
 * h1 or h2 is the top level header in a block
 * h3 is a secondary header or a header in a div.bar
 * h4 is a smaller header for subdivisions.
*/

h1, h2, h3, h4, h5, h6 {
	font-size: 110%;
	color: black;
    text-align: left;
    line-height: normal;
    
    padding: 4px;
}

h1, h2{
	margin: 8px 0px 0px 0px;
}
h3, h4, h5, h6 {
	margin: 0;
}
 /*
  * secondary header in a block
  */
div h3{
background-color: #ffffcc;
}

div h4{
background-color: #ffeebb;
}

div h5{
background-color: #eeeeee;
}

div h6{
background-color: #ffffff;
}

label{
text-align: left;
}



/* A form within a block element. This can contain a nested 
 * table for fine grain layout.
 */
div.block form, div.wideblock form{
background-color: #cccccc;
margin: 2px 0px;
padding: 0;
}
div.form {
text-align: left;
}




/*  keep the label widths limited so inputs are closer to the label
 */
table.form th {
	width: 33%;
}

/* block of action buttons at the end of a form
*/
.action_buttons{
text-align: right;
border-width: 2px;
margin-bottom: 10px;

}
fieldset.action_buttons{
border: solid #e7e7e7;
border-width: 2px;
margin: 5px 0px;
}
/** Single button forms in an actionbutton block
 */
.action_buttons form{
	display: inline;
}

/** button in a list
*/
li form{
	display: inline;
}

div.block td form, div.wideblock td form{
	background-color: inherit;
}

form.button{
	display: inline;
	text-align: right;
}
.input_button {
	margin: 3px 0px;
	border-style: outset;
}
/* table for fine tuning the layout within a form
 * these have an explicit border 
 */
table.form{
	border: solid #e7e7e7;
	border-width: 2px;
    background-color: #cccccc;
    margin: 5px 0px;
    text-align: left;
   
}

label.required, span.required {
	font-weight: bold;
}
/* Add a black star to labels of required fields.
 */
label.required::after, span.required::after {
	content: " \2605"
}
label.missing::after, span.missing::after {
	color: #ff0000
}
/* Label for an optional form parameter
 */
.optional{
	color: #555555;
}
/* error added to a form input label 
 */
.field_error{
	font-weight: bold;
	color: #ff0000;
}
table.form tr {
        width: 100%;
}
table.form td {
        padding: 2px;
        background-color: #cccccc;
}

form table tr:hover td {
	 background-color: #dddddd;
}

/* auto generated table from Table class */
table.auto {
	width: 100%;
	text-align: left;
}
/* strong match */
th:first-child, td:first-child{
	text-align: left;
}
table.auto td, table.auto th {
  margin: 1px;	
}

div.ifms_summary td.key {
background-color: #e7e7e7;	
text-align: left;
}
/* paragraph within a block add margin at bottom so headers associate with following content
 */
div.block p,  div.block ul, div.block ol, div.block pre, div.block div.para, div.block table{
text-align: left;

}
/* block content not including table
 */
div.block p,  div.block ul,  div.block pre, div.block div.para{
margin: 0px 0px 6px 0px;
background-color: #e7e7e7;
color: black;
padding: 8px;
display: block;
}
div.block ol {
	margin: 0px 0px 6px 0px;
background-color: white;
color: black;
}
/* no margin inside table */
div.block td p,  div.block  td ul, div.block td ol, div.block  td pre, div.block  td div.para{
margin: 0px 0px 0px 0px;
}
div.block ul{
list-style: inside;
}
div.block  table, div.wideblock  table, div.report  table {
    width: 100%;
}
div.block > table, div.wideblock > table, div.report > table {
	 border: solid #e7e7e7; 
   /* margin-top: 10px;*/  
}
/* supress the cell seperators for nested tables */
div.block table table {
	    border-collapse: collapse;
		border-spacing: 0;
		border-width: 0;
		margin: 0px;
}
/* need to ensure cells are seperated if this is an auto-table not a form table
 * as data may be packed in there.
*
div.block table table.auto td, div.block table table.auto th{
		border-width: 1px;
		border: solid black; 
}
*/


div.block > table.compact, table.compact {
	    border: none;
		border-spacing: 0;
		margin: 0px 0px 6px 0px;	
}

table.listing {
	border: none;
	border-spacing: 0;
	margin: 0px 0px 6px 0px;	
	background-color: white;
}

table.listing td.public_access {
	background-color: #ff6666;
}


div.bar form{
 display: block;
 float: right;
 text-align: right;

 /* old versions of firefox ?
 position: relative;
 top: -5px;
 */
 font-size: 110%;
	color: black;
    line-height: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
}


/* heading within a bar
 */
div.bar h1, div.bar h2, div.bar h3{
/*font-weight: normal;*/
display: inline;
/*float: left;*/
line-height: normal;
margin: 2px;
}






/* fixes to try and get nested tables to pick up the correct
 * highlighting make the notice rule more explicit so it
 * wins over the highlight rule prefix everything with div to
 * avoid matching legacy header footer table formatting.
  * Note auto tables may contain nested 1 button forms 
 */
 div td, div th{
 color: black;
 }

div tr.notice td, div tr td.notice{
	background-color: #ffcccc;
}

div  *.highlight td, div table.auto *.highlight td form{
	 background-color: #ffffcc;
}
/* hover highlighting to indicate the active row in a form
*/
form table.form tr.highlight:hover td {
	 background-color: #ffeecc;
}
/* some transitions dont set form class
 */ 
form table tr.highlight:hover td {
	 background-color: #ffeecc;
}
details div.description{
	 border-radius: 15px;
	 padding: 5px;
	 background-color: #ffffcc;
	 font-size: small;
}

div td, div table.auto td form , div.block td ul, div.block td ol{
        background-color: #ffffff;
}
td.numeric, td[numeric] ,  td.numeric input {
text-align: right;
white-space: nowrap;
}

/* a table cell intended to hold a form buton */
div td.button {
	text-align: center;
	background-color: #e7e7e7;
}
div th {
        color: black;
        background-color: #e7e7e7;
}
form table.form tr:hover th{
	background-color: #f3f3f3;
}
th.button-col, td.button-col {
	width: 5%;
	text-align: center;
}
/* Resoruce table */
td.notes{
	text-align: right;
}
td.resource table.auto td.main, td.resource table.auto th.main{
	text-align: right;
}
div table table.resource{
	text-align: right;
}
/* a warning paragraph */
div p.warn{
	color: #ff0000;
		}
.center{
text-align: center;
	}
.plain {
	background-color: #ffffff;
	}
.warn, .warn.sorting_1 {
	color: #ff0000;
}
.pass:after {
	content: " \2714";
	color: green;
}
.fail {
	color: red;
}
.fail:after {
	content: " \2718";
	color: red;
}
.sufficient:after {
	content: " \2190";
	color: orange;
}
.notice, .notice.sorting_1 {
	background-color: #ffcccc;
	}
.highlight,div.block  p.highlight {
  background-color: #ffffcc;
}
.grey {
 background-color: #cccccc;
}
.lightgrey{
	background-color: #e7e7e7;
}

/* rules for the survey code */
div.question_noanswer, div.question_answered{
 text-align: center;
 border-width: thin;
 border-style: solid;
 padding: 2px;
 margin-top: 5px;
}
div.question_noanswer {
  border-color: red;	
}
div.question_answered {
  border-color: green;	
}
div.noquestion {
  border-color: green;	
}
div.block p.question {
	background-color: #f0f0f0;
}

div.block div.compact {
	display: block;
	text-align: right;
	background-color: #f0f0f0;
}
div.block div.compact p.question {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	float: left;
	display: block;
}

div.options{
  font-size: smaller;
  font-weight: bold;
  white-space: nowrap;
}

div.block div.compact div.options {
	padding-right: 4px;
	display: inline;
}
textarea.comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
/* survey formatting for results */
/* These numbers come from a linear interpolation between reg and green
 * but using the square of the fractional value to componsate for high %ages being
 * harder to reach if there are multiple choices.
*/
li.frac_0{
  	background-color: #ff9999;
}
li.frac_1{
  	background-color: #ebac99;
}
li.frac_2{
	background-color: #dabd99;
}
li.frac_3{
	background-color: #cacd99;
}
li.frac_4{
	background-color: #bdda99;
}
li.frac_5{
	background-color: #b2e599;
}
li.frac_6{
	background-color: #a9ee99;
}
li.frac_7{
	background-color: #a2f599;
}
li.frac_8{
	background-color: #9dfa99;
}
li.frac_9{
	background-color: #9afd99;
}
li.frac_10{
	background-color: #99ff99;
}

















div.report td.frac_0 {
  	background-color: #ed1818;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_1 {
  	background-color: #ed4218;
  	text-align: right;
	white-space: nowrap;  	
}
div.report td.frac_2 {
	background-color: #ed6d18;
  	text-align: right;
	white-space: nowrap;	
}
div.report td.frac_3{
	background-color: #ed9818;
  	text-align: right;
	white-space: nowrap;	
}
div.report td.frac_4{
	background-color: #edc218;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_5{
	background-color: #eded18;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_6{
	background-color: #c2ed18;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_7{
	background-color: #98ed18;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_8{
	background-color: #6ded18;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_9{
	background-color: #42ed18;
  	text-align: right;
	white-space: nowrap;
}
div.report td.frac_10{
	background-color: #18ed18;
  	text-align: right;
	white-space: nowrap;
}


div td[format=under]{
	color: #ff0000;
}
div td[format=over]{
	color: #0000ff;
}
div td[highlight=true]{
	background-color: #ffffcc;
}
div td[notice=true]{
	background-color: #ffcccc;
}
div.block p.comment {
	background-color: #ffeebb;
}

/* XML formatting */
div.element, div.elementcontent, div.element h3 {
background-color: #ffffff;
}
div.elementcontent {
width: 98%;
padding-left: 2%;
}
div.xml_warn {
	font-size: smaller;
	background-color: #ffffcc;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	border-radius: 20px;
	border: solid black;
	padding: 10px;
}
div.xml_warn_scope {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 20px;
	border: solid red;
	padding: 10px;
}
div.xml_comment{
	background-color: #ccccff;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px;
}
div.dynamic_form_question{
	
	
	 padding: 2px;
	 display: block;
 margin-top: 5px;
 margin-bottom: 10px;
 border-width: 0px;
}
td.question{
	overflow: auto;
	background-color: #f3f3f3;
	height: 100%;
	width: 50%;
	border-width: thin;
 border-style: solid;
 padding: 5px;
}
td.answer{
	overflow: auto;
	background-color: white;
	height: 100%;
	width: 50%;
	border-width: thin;
 border-style: solid;
 padding: 5px;
}

td.answer.incomplete {
	border-color: red;
	border-width: 3px;
}
div.complete > h3:after, div.complete > h2:after {
	content: " \2714";
	color: green;
} 

div.dynamic_form_section{
 border-width: 1px;
 border-style: solid;
  border-color: black;
  padding: 2px;
margin: 5px;
margin-bottom: 10px;

}
/* auto collapse
div.element div.element div.elementcontent, div.element div.element:hover div.element div.elementcontent{
	display: none;
}

div.element div.element:hover div.elementcontent, div.element div.element div.element:hover div.elementcontent{
display: block;
}
*/

/* Email edit forms better aligning to the left as they
 * replace text fragments.
 */
div.message form, form div.message{
	text-align: left;
}

h3 form, h4 form{
    display: inline-block;
    /* float: left; */
}
div.multipart {
	border: solid white;
}
div.part {
	border: solid black;
}
div.mail {
   border: solid green;
}
div.mail pre, div.message pre, p.longlines{
	overflow: auto;
}
input[type=number][size="4"] {
	width: 5em;
}
input[type=number][size="3"] {
	width: 4em;
}
input[type=number][size="2"] {
	width: 3em;
}
input[type=number][size="1"] {
	width: 2em;
}
/*  added by javascript to show how full a textarea is.
 * this puts a thin progress bar under the textarea
 */
progress.textprogress {
	width: 100%;
	height: 4px;
	display: block;
}


img.qrcode{
	max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
	margin-right: auto;
}