body {
	color: black;
	font-size: medium;
	background-color: var(--main-bg-color);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: medium;
    text-decoration: none;
	margin: 0;
}
body{
font-family: "MS Arial", "Helvetica", sans-serif;	
}
pre.loose{
	font-family: "MS Arial", "Helvetica", sans-serif;
}
/* The basic centered Grey block
 * This can hold headers paragraphs and forms.
 */
div.block, div.wideblock{
background-color: var(--content-bg-color);
}
div.bar, div.bar h1, div.bar h2, div.bar h3{
	background-color: var(--header-bg-color);
}

/* simple single bar containing only text */
div.textbar{
	background-color: var(--paragraph-bg-color);
}

div.block form, div.wideblock form{
	background-color: var(--form-bg-color);
}
/** Allow a block heading to be the summary element 
 */
div.block details summary h2{
	display: inline;
	margin: 0;
}

/* all divs form a centered column */
div.block, div.bar, div.textbar,div.text, div.graph {
	width: 95%;
}
div.wideblock {
	width: 95%;
}
div.report {
	width: 95%;
}
div.bar{
	height: 25px;
}
/* common properties of all divs */
div.block, div.bar, div.textbar,div.text, div.graph, div.report, div.wideblock {
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--block-v-margin);
	margin-bottom: var(--block-v-margin);

	text-align: left;
	color: black;
	white-space: normal;
 
	padding-left: var(--block-h-padding);
	padding-right: var(--block-h-padding);
    padding-top: var(--block-v-padding);
    padding-bottom: var(--block-v-padding);
    border-radius: var(--block-radius);
        
}

/** nested block have same width as parent
 * but keep top-bottom spacing
 */
div.block div.block {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}


div.scrollwrapper {
	overflow: auto;
}

.login{
	font-weight: bold;
}



/** Acts as pre-formatted without changing the font
 */
p.preformatted{
	overflow: auto;
	white-space: pre;
	/* monospace font makes this exactly like pre but ... */
	/* font-family:  monospace; */
}

pre.loose{
	overflow: auto;
	white-space: pre;
}


/* Simple single line bar contains a single h3 heading and 
 * a submit button only form. We swap the text direction to get the button on the right
 */
div.bar{
text-align: left;
/* background-color: #e7e7e7; */
}



/* Button like links so we can open new page using right mouse */
table.navbar tr td a {
    background-color: var(--button-bg-color);
    border-width: 1px;
    border: solid black;
    display: block;
    text-align:center;
}




label{
	text-align: left;
}

/* Add space before a h1/h2 heading
 */
h1, h2{
	margin: var(--heading-pre-space) 0px 0px 0px;
}
/*  First major heading at top of div
 */
h1:first-child, h2:first-child{
	margin: 0px 0px 0px 0px;
}

/* no separation when showing log items
 */
div.item h3, div.item h4, div.item h5 , div.item h6 , div.item pre, div.item p{
	margin: 0;
}
div.item{
	margin-left: var(--content-h-margin);
	margin-right: var(--content-h-margin);
}
div div.item div.item {
	margin-left: 0;
	margin-right: 0;
}
/* A form within a block element. This can contain a nested 
 * table for fine grain layout.
 */
div.block form, div.wideblock form{
margin: 2px var(--content-h-margin);
padding: 0;
}
div.form {
text-align: left;
}

/** inline errors for transition
 */
div.block div.error {
margin: 10px var(--content-h-margin) 0px var(--content-h-margin);
padding: 0;
}
div.block div.error + form, div.wideblock div.error + form{
margin: 0;
border: solid red;
}

/*  keep the label widths limited so inputs are closer to the label
 */
table.form th {
	width: 33%;
}

/* block of action buttons at the end of a form
*/
.action_buttons{
text-align: right;
border-width: 2px;
margin-bottom: 10px;

}

/** Single button forms in an action button block
 */
.action_buttons form{
	display: inline;
}

/** button in a list
*/
li form{
	display: inline;
}

div.block td form, div.wideblock td form{
	background-color: inherit;
}

form.button{
	display: inline;
	text-align: right;
}


label.required, span.required {
	font-weight: bold;
}
/* Add a black star to labels of required fields.
 */
label.required::after, span.required::after {
	content: " \2605"
}
label.missing::after, span.missing::after {
	color: #ff0000
}
/* Label for an optional form parameter
 */
.optional{
	color: #555555;
}
/* error added to a form input label 
 */
.field_error{
	font-weight: bold;
	color: #ff0000;
}
.disabled {
	cursor: not-allowed;
}
table.form tr {
        width: 100%;
}
table.form td {
        padding: 2px;
   
}


/* auto generated table from Table class */
table.auto {
	width: 100%;
	text-align: left;
}
/* strong match */
th:first-child, td:first-child{
	text-align: left;
}
table.auto td, table.auto th {
  margin: 1px;	
}

div.ifms_summary td.key {
background-color: #e7e7e7;	
text-align: left;
}
/* paragraph within a block 
 */
div.block p,  div.block ul, div.block ol, div.block pre, div.block div.para, div.block div.table, div.block div.column {
text-align: left;
margin-left: var(--content-h-margin);
margin-right: var(--content-h-margin);

}
/* block content (not including table)
 * add margin at bottom so headers associate with following content
 */
div.block p,  div.block ul,  div.block pre, div.block div.para{
margin-top: 0px;
margin-bottom:  6px;

color: black;
padding: 8px;
display: block;
}
div.block ol {
	margin: 0px var(--content-h-margin) 6px var(--content-h-margin);
	background-color: white;
	color: black;
}
/* no margin inside table */
div.block td p,  div.block  td ul, div.block td ol, div.block  td pre, div.block  td div.para{
margin: 0px 0px 0px 0px;
}
div.block ul{
list-style: inside;
}
div.block  table, div.wideblock  table, div.report  table {
    width: 100%;
}

/* supress the cell seperators for nested tables */
div.block table table {
	    border-collapse: collapse;
		border-spacing: 0;
		border-width: 0;
		margin: 0px;
}
/* need to ensure cells are seperated if this is an auto-table not a form table
 * as data may be packed in there.
*
div.block table table.auto td, div.block table table.auto th{
		border-width: 1px;
		border: solid black; 
}
*/


div.block > table.compact, table.compact {
	    border: none;
		border-spacing: 0;
		margin: 0px 0px 6px 0px;	
}

table.listing {
	border: none;
	border-spacing: 0;
	margin: 0px 0px 6px 0px;	
	background-color: white;
}

table.listing td.public_access {
	background-color: #ff6666;
}


div.bar form{
 display: block;
 float: right;
 text-align: right;

 /* old versions of firefox ?
 position: relative;
 top: -5px;
 */
 font-size: 110%;
	color: black;
    line-height: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
}


/* heading within a bar
 */
div.bar h1, div.bar h2, div.bar h3{
/*font-weight: normal;*/
display: inline;
/*float: left;*/
line-height: normal;
margin: 2px;
}






/* fixes to try and get nested tables to pick up the correct
 * highlighting make the notice rule more explicit so it
 * wins over the highlight rule prefix everything with div to
 * avoid matching legacy header footer table formatting.
  * Note auto tables may contain nested 1 button forms 
 */
 div td, div th{
 color: black;
 }

div tr.notice td, div tr td.notice{
	background-color: var(--notice-bg-color);
}

div  *.highlight td, div table.auto *.highlight td form{
	 background-color: var(--highlight-bg-color);
}
/* hover highlighting to indicate the active row in a form
*/
form table.form tr.highlight:hover td {
	 background-color: var(--highlight-hover-bg-color);
}
/* some transitions dont set form class
 */ 
form table tr.highlight:hover td {
	 background-color: var(--highlight-hover-bg-color);
}
details div.description{
	 border-radius: var(--block-radius);
	 padding: 5px;
	 background-color: #ffffcc;
	 font-size: small;
}

div td, div table.auto td form , div.block td ul, div.block td ol{
        background-color: #ffffff;
}
td.numeric, td[numeric] ,  td.numeric input {
text-align: right;
white-space: nowrap;
}

/* a table cell intended to hold a form button */
div td.button {
	text-align: center;
	background-color: var(--th-bg-color);
}
div th {
        color: black;
        background-color: var(--th-bg-color);
}
form table.form tr:hover th{
	background-color: var(--th-hover-bg-color);
}
table.form td {
        background-color: var(--form-bg-color);
}

form table tr:hover td {
	 background-color: var(--form-hover-bg-color);
}

th.button-col, td.button-col {
	width: 5%;
	text-align: center;
}
fieldset.action_buttons{
border: solid var(--form-border-color);
border-width: 2px;
margin: 5px var(--content-h-margin);
}

.input_button {
	margin: 3px 0px;
	border-style: outset;
}
/* table for fine tuning the layout within a form
 * these have an explicit border 
 */
table.form{
	border: solid var(--form-border-color);
	border-width: 2px;
    background-color: var(--form-bg-color);
    margin: 5px var(--content-h-margin);
    text-align: left;
}
div.block p,  div.block ul,  div.block pre, div.block div.para{
	background-color: var(--paragraph-bg-color);
}
div.block > table, div.wideblock > table, div.report > table, details > table , div.scrollwrapper > table {
	 border: solid var(--table-border-color); 
	 background-color: var(--table-bg-color);
     margin-top: 10px;  
}


/* Resoruce table */
td.notes{
	text-align: right;
}
td.resource table.auto td.main, td.resource table.auto th.main{
	text-align: right;
}
div table table.resource{
	text-align: right;
}
/* a warning paragraph */
div p.warn{
	color: #ff0000;
}
.center{
text-align: center;
	}
.plain {
	background-color: #ffffff;
	}
.warn, .warn.sorting_1 {
	color: var(--warn-bg-color);
}
.pass:after {
	content: " \2714";
	color: green;
}
.fail {
	color: red;
}
.fail:after {
	content: " \2718";
	color: red;
}
.sufficient:after {
	content: " \2190";
	color: orange;
}
.notice, .notice.sorting_1 {
	background-color: var(--notice-bg-color);
}
.highlight,div.block  p.highlight {
  background-color: var(--highlight-bg-color);
}




div.block div.compact {
	display: block;
	text-align: right;
	background-color: #f0f0f0;
}
div.block div.compact p.question {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	float: left;
	display: block;
}

div.options{
  font-size: smaller;
  font-weight: bold;
  white-space: nowrap;
}

div.block div.compact div.options {
	padding-right: 4px;
	display: inline;
}
textarea.comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}


div td[format=under]{
	color: red;
}
div td[format=over]{
	color: blue;
}
div td[highlight=true]{
	background-color: var(--highlight-bg-color);
}
div td[notice=true]{
	background-color: var(--notice-bg-color);
}
div.block p.comment {
	background-color: #ffeebb;
}

/* XML formatting */
div.element, div.elementcontent, div.element h3 {
background-color: #ffffff;
}
div.elementcontent {
width: 98%;
padding-left: 2%;
}
div.xml_warn {
	font-size: smaller;
	background-color: #ffffcc;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	border-radius: 20px;
	border: solid black;
	padding: 10px;
}
div.xml_warn_scope {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 20px;
	border: solid red;
	padding: 10px;
}
div.xml_comment{
	background-color: #ccccff;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px;
}
div.dynamic_form_question{
	
	
	 padding: 2px;
	 display: block;
 margin-top: 5px;
 margin-bottom: 10px;
 border-width: 0px;
}
td.question{
	overflow: auto;
	background-color: #f3f3f3;
	height: 100%;
	width: 50%;
	border-width: thin;
 border-style: solid;
 padding: 5px;
}
td.answer{
	overflow: auto;
	background-color: white;
	height: 100%;
	width: 50%;
	border-width: thin;
 border-style: solid;
 padding: 5px;
}

td.answer.incomplete {
	border-color: red;
	border-width: 3px;
}
div.complete > h3:after, div.complete > h2:after {
	content: " \2714";
	color: green;
} 

div.dynamic_form_section{
 border-width: 1px;
 border-style: solid;
  border-color: black;
  padding: 2px;
margin: 5px;
margin-bottom: 10px;

}
/* auto collapse
div.element div.element div.elementcontent, div.element div.element:hover div.element div.elementcontent{
	display: none;
}

div.element div.element:hover div.elementcontent, div.element div.element div.element:hover div.elementcontent{
display: block;
}
*/

/* Email edit forms better aligning to the left as they
 * replace text fragments.
 */
div.message form, form div.message{
	text-align: left;
}

h3 form, h4 form{
    display: inline-block;
    /* float: left; */
}
div.multipart {
	border: solid white;
}
div.part {
	border: solid black;
}
div.mail {
   border: solid green;
}
div.mail pre, div.message pre, p.longlines{
	overflow: auto;
}
input[type=number][size="6"] {
	width: 7em;
}
input[type=number][size="5"] {
	width: 6em;
}
input[type=number][size="4"] {
	width: 5em;
}
input[type=number][size="3"] {
	width: 4em;
}
input[type=number][size="2"] {
	width: 3em;
}
input[type=number][size="1"] {
	width: 2em;
}
/*  added by javascript to show how full a textarea is.
 * this puts a thin progress bar under the textarea
 */
progress.textprogress {
	width: 100%;
	height: 4px;
	display: block;
}


img.qrcode{
	max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
	margin-right: auto;
}