/* The nav div reserves space for the fixed navigation bar in the
 * default top position. This allows the top of the page content to
 * be seen.
 */
.nav {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  position: relative;
  text-align: left;
  line-height: 11px;
}
/* Don't display accessability headings
 */
 
 .nav h1, .nav h2, .nav h3, .nav h4 , .nav h5{
 display: none;
 }
/* First level menu stacks left to right across the page. This also sets defaults for all levels
 */
.nav ul {
  list-style: none;
  background-color: #000;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
/* font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
 */
 line-height: 30px;
  font-size: 0.8em;
  text-align: left;
}

/* content of a menu is a link or a div. Format them the same
 */
.nav a , .nav div{
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-left: 15px;
  height: 30px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

/*  links change colour on hover
 */
.nav a:hover , .nav a:focus{
 /* background-color: #005f5f;
  */
    background-color: #444;
    color: #ff4040;
    cursor: pointer;
}

/* .nav div {
 *	background-color: #333;
 *}
 */

/*.nav .match a {
 * background-color: #444;
* }
*/

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}


/* Sub Menus use smaller font */
.nav li li {
  font-size: .8em;
/*  line-height: auto; */
}

.nav li.has_role a {
	background-color: #060;
} 
.nav li.missing_role a {
	background-color: #600;
} 

.nav li.notify >  a {
	background-color: #bf7a00;
	color: black;
}
.nav li.notify >  a:hover , .nav li.notify > a:focus{
	background-color: #ffa300;
	color: #800000;
}
.nav li.external > a:after {
	content:   url("link.png");
	float: right;
  	margin-right: 20px;
  }
/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
/* reserve parking space at top 
 */	
  .nav{
    min-height: 30px;
    width: 100%;
    display: block;
  }
/* first level menu fixed at top of page and covers entire width horizontally
 * must stack above other content like datatables mark-up
 */
  .nav ul {
    width: 100%;
    position: fixed;
    z-index: 10;
  }
   .nav ul ul {
     width: inherit;
  }
  .nav li {
    width: 195px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 1.0em;
    display: inline-block;
    margin-right: -4px;
  }
  
 
  /* restore second level to being a list ;
   */
  .nav li li {
     display: list-item;
  }

/* content elements
 */
  .nav a, .nav div {
    border-bottom: none;
    height: 30px;
  }
  
/*  This seems to stop image links being pushed down
 */
 .nav a img{
    margin-bottom: 3px;
    height: 1em;
 }

/*  First level menu shows centered
 */
  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus 
  * invisible by default 
  */
   .nav li > ul {
    position: absolute;
    display: none;
    width: inherit;
    
  }
  /* Sub-Sub menus 
   * are included static in the parent menu
   * so their size is included in the parent menu scrolling works
   * If made absolute (and dynamic)  the parent menu would have to use overflow: visible
   */ 
  .nav ul li ul ul{
    position: initial;
    display: initial;
    width: inherit;
  }
  /* sub-menu items need to auto-calculate height
   * so the sub-menu can do overflow properly
   */
  .nav ul li ul li{
    height: auto;
  }
  /* sub-menus add vertical scroll above a certain length
   */
  .nav > ul > li > ul {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: visible;
  }
  
  
  /* Show pull-down menu on hover or a JS setting
   * The scripts will add show-menu if they are in control
   */
  .nav li:hover > ul , .nav li:focus > ul, .nav li > ul.show-menu {
    display: block;
  }
  
 

  
}
