/* all divs form a centered column */
div.block, div.bar, div.textbar,div.text, div.graph {
width: 98%;
}
div div.bar{
	width: 100%;
}
div.dataTables_wrapper, div.scrollwrapper {
	overflow: auto;
}
div.part , div.message, div.multipart, div.Query_public,  div.Query_private, div.Comment_private, div.Update_private{
	border-width: 1px;
	padding: 1px;
}

div.Query_public {
  border: solid blue;
}
div.Query_private, div.Comment_private, div.Update_private{
  border: solid red;
}

/** Need to explicitly override the odd/even styling in datatables
*/
td.GREEN , table.dataTable.display tbody tr td.GREEN.sorting_1 , span.GREEN{
	background: green;
}
td.YELLOW, table.dataTable.display tbody tr td.YELLOW.sorting_1, span.YELLOW{
	background: yellow;
}
td.AMBER, table.dataTable.display tbody tr td.AMBER.sorting_1, span.AMBER{
	background: orange;
}
td.ORANGE, table.dataTable.display tbody tr td.ORANGE.sorting_1, span.ORANGE{
   background: orange;
}
td.RED, table.dataTable.display tbody tr td.RED.sorting_1, span.RED{
   background: red;
}
td.PURPLE, table.dataTable.display tbody tr td.PURPLE.sorting_1, span.PURPLE{
   background: purple;
}
td.AQUA, table.dataTable.display tbody tr td.AQUA.sorting_1, span.AQUA{
	background: aqua;
}
td.LIME, table.dataTable.display tbody tr td.LIME.sorting_1, span.LIME{
	background: lime;
}
td.warn_contact, table.dataTable.display tbody tr td.warn_contact.sorting_1{
	background: #ffcccc;
}

td.notice, table.dataTable.display tbody tr td.notice.sorting_1 {
	background-color: #ffcccc;
}
span.operator{
  font-size: smaller; 
}